@import 'variables';

#top-navbar {
    width: 100%;
    height: $navbar-height;
    background: $navbar-color;
    position: relative;

    .container {
        width: $navbar-width;
        .navbar {
            padding-top: 0;

            .navbar-toggler {
                margin-top: 20px;
            }

            ul a {
                padding: 25px 10px;
                border-bottom: 1px solid #dddddd;
                color: #676767;
            }

            @media (min-width: 768px) { 
                ul a {
                padding: 25px 10px;
                border-bottom: none;
                }
            }

        }
    }
}

#carouselExampleIndicators {
    width: 100% !important;
    position: absolute;
    top: 0px;
    z-index: -1;    

    .carousel-item img {
        width: 100%;
        height: 800px;
        background-size: cover;
    }
}

#after-slider {
    background: #f5f5f5;
    position: absolute;
    top: 92%;
    padding: 5%;

    #content-top {
        width: 70% !important;
        margin: auto;
        text-align: center;

        h1{
            font-size: 50px !important;
            font-weight: 400;
            padding: 25px;
        }

        p {
            padding-bottom: 25px;

        }

        .btn {
            background: #00C1CF;
            border-bottom: 5px solid #008D97;
        }
        .btn:hover{
            background: #00A4B0;
            cursor: pointer;
        }
    }
}